body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav{
    width: 100%;
    background: #00316b;
}

ul{
    width: 100%;
    margin: 0 auto;
    padding: 0;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}

ul li:hover{
    background: #e91e63;
}

ul li a{
    color: #fff;
    text-decoration: none;
}

ul li a:hover{
    text-decoration: none;
    color: #fff;
}

.toggle{
    width: 100%;
    padding: 10px 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}

.heading h1{
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 5px;
    font-size: 35px;
}

.heading p{
    font-size: 20px;
}

.home_headers{
    padding: 50px;
    padding-top: 30px;
    width: 100%;
    height: auto;
}

.header{
    padding: 30px;
}

.box{
    padding: 30px;
    background-color: #e91e63;
    color: #fff;
    font-size: 40px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px #808B96;
}

.box1{
    background-color: #CB4335;
}

.box2{
    background-color: #D4AC0D;
}

.box3{
    background-color: #2471A3;
}

.box4{
    background-color: #BA4A00;
}

.box5{
    background-color: #95A5A6;
}

.box6{
    background-color: #E91E63;
}

.box7{
    background-color: #943126;
}

.box8{
    background-color: #17A589;
}

.box p{
    font-size: 22px;
}

.box:hover{
    background-color: #5D6D7E;
    box-shadow: 10px 10px 10px #808B96;
}

.foot{
    background-color: #34496E;
    padding: 50px;
    padding-bottom: 3px;
}

.foot h2{
    font-size: 30px;
    color: #2E86C1;
    padding: 25px;
    padding-bottom: 5px;
}

.foot p{
    font-size: 18px;
    color: #fff;
}

.foot i{
    padding: 10px;
    padding-top: 0px;
}

.foot a{
    text-decoration: none;
    color: #fff;
}

.resources{
    padding: 50px;
    padding-bottom: 20px;
}

.resource-area{
    padding: 50px;
    padding-top: 0px;
}

.resource-heading{
    padding-left: 20px;
    background-color: grey;
    color: #FFF;
    border: 1px solid black;
}

.resource-description{
    padding: 5px;
    background-color: #808B96;
}


@media (max-width: 768px){
    .toggle{
        display: block;
    }
    
    ul{
        width: 100%;
        display: none;
    }
    
    ul li{
        display: block;
        text-align: center;
    }
    
    .active{
        display: block;
    }
    
    .heading h1{
        font-size: 25px;
    }
    
    .heading p{
        font-size: 17px;
    }
    
    .home_headers{
        padding: 30px;
    }
}
